@model AuditLogApp.Models.Account.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/StandaloneLayout.cshtml";
}

<div class="ala-standalone-form">
    <div class="ala-standalone-form-row ala-align-center">
        <a asp-action="LoginWithTwitter" asp-route-returnUrl="@TempData["returnUrl"]" class="ala-button"><i class="icon-twitter"></i>Login with Twitter</a>
    </div>

    <div class="ala-standalone-form-divider"><span>or</span></div>

    <form asp-action="Login" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ala-standalone-form-row">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="ala-standalone-form-row">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="ala-standalone-form-row ala-align-right">
            <input type="submit" value="Login" class="ala-button" />
        </div>
    </form>
    <br />
    <div class="ala-align-center">
        <a asp-action="PasswordReset" class="ala-standalone-link">Forgot your password?</a>
        <a asp-action="Register" class="ala-standalone-link">Register a new account</a>
    </div>
</div>


