@model AuditLogApp.Models.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/StandaloneLayout.cshtml";
}

<div class="ala-standalone-form">
    <div class="ala-standalone-form-row ala-align-center">
        <a asp-action="RegisterWithTwitter" class="ala-button"><i class="icon-twitter"></i>Continue with Twitter</a>
    </div>

    <div class="ala-standalone-form-divider"><span>or</span></div>

    <form asp-action="Register" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ala-standalone-form-row">
            <label asp-for="PilotCode" class="control-label"></label>
            <input asp-for="PilotCode" class="form-control" />
            <span asp-validation-for="PilotCode" class="text-danger"></span>
        </div>
        <div class="ala-standalone-form-row">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="ala-standalone-form-row">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="ala-standalone-form-row">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="ala-standalone-form-row">
            <label asp-for="CompanyName" class="control-label"></label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="ala-standalone-form-row">
            <input type="submit" value="Register" class="ala-button" />
        </div>
        <div class="ala-standalone-form-row ala-align-center ala-pilot-label">
            AuditLog is currently in closed Pilot. <a href="https://www.auditlog.co/pilot-signup">Click here to request a code</a> if you don't have one.
        </div>
    </form>
</div>