@import "../variables";

%simple-button-basics {
    // padding: 0.25em 0.75em;
    // border-radius: 4px;
    // border-width: 1px;
    // border-style: solid;
    // text-decoration: none;
    // display: inline-block;
    // cursor: pointer;
    display: inline-block;
        border-radius: 2px;
        border: 1px solid transparent;
        padding: 6px 14px 6px 10px;
        margin: 0px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        transition: all 0.3s ease-out;
        /* anchor? */
        text-decoration: none;
        //font-size: 9pt;
        line-height: normal;
}

@mixin simple-button($color, $borderColor, $textColor, $hoverColor, $hoverBorderColor, $hoverTextColor){
    @extend %simple-button-basics;
    color: $textColor;
    background-color: $color;
    border-color: $borderColor;
    white-space: nowrap;
    transition: all 150ms ease-in-out;

    & > [class^="icon-"]:before, 
    & > [class*=" icon-"]:before {
        color: $textColor;
    }

    &:hover{
        color: $hoverTextColor;
        background-color: $hoverColor;
        border-color: $hoverBorderColor;

        & >  [class^="icon-"]:before, 
        & > [class*=" icon-"]:before {
            color: $hoverTextColor;
        }
    }
}

.ala-button,
.ala-button:visited{
    @include simple-button($color-accent-1, $color-accent-1, $text-color-inverse, darken($color-accent-1, 10%), $color-accent-1, $text-color-inverse);
}

.ala-button-red,
.ala-button-red:visited{
    @include simple-button($ws-lightgrey, $ws-lightgrey, $text-color-normal, $cs-red, $cs-red, $text-color-inverse);
}

.ala-button-lite,
.ala-button-lite:visited{
    @include simple-button(transparent, transparent, $text-color-light, transparent, transparent, $text-color-normal);

    border-radius: 0px;
    border-width: 0px;
    padding: 0 2px;
    margin: 0px;
}

.ala-button-lite-red,
.ala-button-lite-red:visited{
    @include simple-button(transparent, transparent, $text-color-light, transparent, transparent, $cs-red);

    border-radius: 0px;
    border-width: 0px;
    padding: 0 2px;
    margin: 0px;
}

.ala-button-tab,
.ala-button-tab:visited{
    @include simple-button(transparent, transparent, $text-color-light, transparent, $color-border, $text-color-normal);

    margin-bottom: -1px;
    border-bottom-color: $color-border;
}

.ala-button-tab-selected,
.ala-button-tab-selected:visited{
    @include simple-button(transparent, $color-border, $text-color-normal, transparent, $color-border, $text-color-normal);

    margin-bottom: -1px;
    border-bottom-color: white;
    &:hover{
        border-bottom-color: white;
    }
}