@import "../variables";

.ala-daily-event-chart{
    height: 150px;
}

.ala-chart-axis{
    line, path {
        stroke: $color-chart-grey;
    } 
    text {
        fill: $color-chart-grey;
    }
}
.ala-chart-grid{
    line, path {
        stroke: $color-chart-grey-lighter;
    } 
    text {
        fill: $color-chart-grey-lighter;
    }
}
.ala-chart-bar{
    fill: $color-chart-bar;
}