@import "../variables";

.ala-standalone-form{
    width: 370px;
    margin: 0 auto;
    padding: 0.5em 0.25em;

    input[type=text],
    input[type=email]{
        border: 1px solid #ddd;
        padding: .25em;
        width: 100%;
    }

}

.ala-standalone-form-divider{
    text-align: center;
    margin: 1em 0;
}

.ala-standalone-form-row{
    margin: 0.5em 0;
}
