@import "../variables";

.ala-body{
    position: absolute;
    top: $header-height;
    left: $menu-width;
    bottom: 0px;
    right: 0px;
    border-top: 1px solid $color-border;

    padding: 3em;
}

.ala-loading{
    font-size: 3em;
    text-align: center;
    padding-top: 3em;
    //background-color: $ws_medgrey;
    color: $color-accent-1;;
    opacity: .6;
}

.ala-body-title{
    margin-bottom: 0;
}
.ala-body-description{
    max-width: 800px;
    margin-bottom: 2em;
}