@import "../variables";

.ala-header {
    height: $header-height;
    line-height: $header-height;
    vertical-align: middle;
    background-color: $color-background-dark;

    overflow: hidden;
}

.ala-logo{
    display: inline-block;
    height: 56px;
    line-height: 56px;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 0 0 1em;

    & > img{
        vertical-align: top;
    }

    & > span{
        display: inline-block;
        font-size: 2.5em;
        margin-left: .25em;
        color: $text-color-inverse;
        text-transform: lowercase;
    }
}

.ala-header-nav{
    float: right;
    padding-right: 2em; 
}

.ala-header-link{
    color: $ws_lightgrey;

    &:hover{
        color: $color-accent-1;
    }
}