@{
    var pageTitle = ViewData["Title"] ?? "Fast, transparent, safe";
}<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>AuditLog | @pageTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="cleartype" content="on">

    <script src="/scripts/lib/underscore-min.js"></script>
    <script src="/scripts/lib/jquery-3.3.1.min.js"></script>
    <script src="/scripts/lib/knockout-3.4.2.js"></script>
    <script src="/scripts/lib/page.js"></script>
    <script src="/scripts/lib/d3.min.js"></script>
    <script src="/scripts/app/app.min.js"></script>
    <link rel="stylesheet" href="/app.min.css" />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header class="ala-header">
        <a href="/" title="AuditLog: Home" class="ala-logo">
            <img src="/images/logo56.png" alt="AuditLog logo" />
            <span>AuditLog.co</span>
        </a>
        <div class="ala-header-nav">
            @*<a href="javascript: void(0)" title="Get help" class="ala-header-link">Help / Feedback</a>*@
            <a href="/account/logout" title="Logout" class="ala-header-link">Logout</a>
        </div>
    </header>
    <nav class="ala-navigation">
        <h1 class="ala-screen-reader-only">Navigation</h1>
        <ul class="ala-navigation-menu">
            <li class="ala-navigation-item"><a href="/" class="ala-navigation-link" data-bind="css: { 'active': currentPage.activeMenuItem() == 'home' }">Home</a></li>
            <li class="ala-navigation-item"><a href="/customize/view" class="ala-navigation-link" data-bind="css: { 'active': currentPage.activeMenuItem() == 'customize' }">Customize</a></li>
            <li class="ala-navigation-item"><a href="/" class="ala-navigation-link" data-bind="css: { 'active': currentPage.activeMenuItem() == 'account' }">Account</a></li>
            <li class="ala-navigation-item"><a href="/configure/apikeys" class="ala-navigation-link" data-bind="css: { 'active': currentPage.activeMenuItem() == 'apikeys' }">API Keys</a></li>
            <li class="ala-navigation-item"><a href="/" class="ala-navigation-link" data-bind="css: { 'active': currentPage.activeMenuItem() == 'users' }">Users</a></li>
        </ul>
    </nav>
    <div class="ala-body">
        <div class="ala-page-container">
            <div class="ala-loading" data-bind="visible: !readyForDisplay()">
                Loading...
            </div>
            <div style="display: none;" data-bind="visible: readyForDisplay(), component: { name: currentPage.componentName, params: currentPage.componentParams }">
            </div>
            @RenderBody()
        </div>
    </div>

    <!-- ko if: sitewide.modal() != null -->
    modal component
    <!-- /ko -->

    <script type="text/javascript">
        $(document).ready(function () { 
            var viewmodel = App.default.create();

            (function() {
            var existing = ko.bindingProvider.instance;

                ko.bindingProvider.instance = {
                    nodeHasBindings: existing.nodeHasBindings,
                    getBindings: function(node, bindingContext) {
                        var bindings;
                        try {
                        bindings = existing.getBindings(node, bindingContext);
                        }
                        catch (ex) {
                        if (window.console && console.log) {
                            console.log("binding error", ex.message, node, bindingContext);
                        }
                        }

                        return bindings;
                    }
                };

            })();

            // TODO capture JS errors

            ko.applyBindings(viewmodel);
        });
    </script>
</body>
</html>
